In [0]:
DATA SCIENCE FOR PYTHON (A to Z)

##  >What is Python ?


Python is an interpreted, object-oriented, high-level programming language

## >Why Python is used in Data Science?

Python is a popular language for data science because it is easy to learn, has a large and active community, offers powerful libraries for data analysis and visualization, and has excellent machine-learning libraries.

## >How is Python used in data science?

Python has in-built mathematical libraries and functions, making it easier to calculate mathematical problems and to perform data analysis.

## Python was initially designed by Guido van Rossum in 1991 and developed by Python Software Foundation.

####   >*Why it so popular?*

 Because you can create complex, multi-protocol applications while maintaining concise, readable syntax

PYTHON:-

In [2]:
## simple code

In [2]:
print("Hello world!")

Hello world!

In [0]:
# Variable

##  Variable is a name given to a memory location to store the data Values.

In [1]:
var = 23

In [2]:
print(var)

23

In [2]:
var = 34
print(var)

34

## RULES OF VARIABLE

#> variable name can start with a letter or the underscore character

#> variable name cannot start with a number

#> variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

#> variable name cannot be any of the Python keywords.

In [3]:
_var1 = 34

In [5]:
_var1

34

In [6]:
2var2 = 56
print(2var2)

SyntaxError: invalid syntax (3004501982.py, line 1)

In [7]:
A=56
print(A)

56

In [8]:
a=45
print(a)

45

In [9]:
else=34
print(else)

SyntaxError: invalid syntax (3678160506.py, line 1)

# Comments (# )

##  # Be the comment  Where it can be declared in the code but,it will not be Executed in output.

In [10]:
a= 45 #a is 45
print(a)

45

In [13]:
# Indentation

a=20
b=10

if a>b:
    print("A greater than B")

A less than B

In [14]:
# Without Indentation

if a>b:
print("A greater than B")

IndentationError: expected an indented block (539171956.py, line 4)

In [4]:
## Variable

## A variable is a named unit of data that is assigned a value

## FOR Example :-
var= 24

## here var is an variable where it is assigned to a value 24
print(var)

24

In [6]:
# declaring python

a= 23
print(a)

23

In [7]:
# redeclaring python

a= "How are you"         # Here it store the updated value.
print(a)

How are you

## > Common Built-in Data Types in Python

### 1.Numeric Types - Integer, Float
### 2.Text Type     - String
### 3.Boolean Type  - Bool
### 4.Sequence Type - List, Tuple, range
### 5.Mapping Type - Dictionaries
### 6.Set Types     - Set

In [3]:
# Numerical type

# integer 

a= 25
print(a)

25

In [6]:
b=-10
print(b)
print(type(b))

-10
<class 'int'>

In [8]:
# floating type

b =2.4
print(b)

2.4

In [9]:
print(type(b))

<class 'float'>

In [10]:
# Text Type

c =" the world"
print(c)
print(type(c))

 the world
<class 'str'>

In [12]:
# Boolean Type

# bool

a = bool(1)
print(a)

True

In [13]:
b= bool(0)
print(b)

False

In [19]:
# sequence Type

# List
# Tuple
# range

In [24]:
# List

mylist= [ 1,2,3,4.5,"the world"]
print(mylist)
print(type(mylist))

[1, 2, 3, 4.5, 'the world']
<class 'list'>

In [27]:
# tuple

mytuple = (1,2,3,4, "string")
print(mytuple)
print(type(mytuple))

(1, 2, 3, 4, 'string')
<class 'tuple'>

In [30]:
# range

x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [0]:
# MApping data type

# dict

In [32]:
mydict = {"name":"jhon","age":34}
print(mydict)
print(type(mydict))

{'name': 'jhon', 'age': 34}
<class 'dict'>

In [34]:
#set data type

x= {1,2,3,1}
print(x)
print(type(x))

{1, 2, 3}
<class 'set'>

# Lists

In [12]:
## Sequence Type

## List


# Lists are used to store multiple items in a single variable.
# Lists are enclosed by [ ]
# Lists can store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.
# List items are ordered, changeable, and allow duplicate values.

In [2]:
var_list = ["the world",34,35.78 ]

In [3]:
print(var_list)

['the world', 34, 35.78]

In [4]:
mylist = ["apple", "banana", "cherry", "apple", "cherry"]
print(mylist)    # it can allow duplicae values

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [5]:
# length of list can be calculated by using len() function

print(len(mylist))

5

In [6]:
# accessing List item

# first item
print(mylist[0])

apple

In [7]:
# last item
print(mylist[-1])

cherry

In [8]:
# Reverse item

print(mylist[::-1])

['cherry', 'apple', 'cherry', 'banana', 'apple']

In [9]:
# Slicing from range index

mylist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(mylist[2:5])

['cherry', 'orange', 'kiwi']

In [10]:
print(mylist[:3])

['apple', 'banana', 'cherry']

In [11]:
print(mylist[-5:-2])

['cherry', 'orange', 'kiwi']

In [12]:
# Checking an item if it  exists in list using Conditional Statement

if 'apple' in mylist:
    print("It exists in list")
else:
    print("It is not exists")

It exists in list

In [13]:
# change of item

list1 = ["apple", "banana", "cherry", "orange", "kiwi"]

list1[0]="mango"

In [14]:
print(list1)

['mango', 'banana', 'cherry', 'orange', 'kiwi']

In [15]:
# append function  - adding an item

list1.append("jackfruit")
print(list1)

['mango', 'banana', 'cherry', 'orange', 'kiwi', 'jackfruit']

In [16]:
# extend function - continue with other list

list2= [ "kiwi", "melon"]

list1.extend(list2)
print(list1)

['mango', 'banana', 'cherry', 'orange', 'kiwi', 'jackfruit', 'kiwi', 'melon']

In [17]:
# insert function - insert with specified location

print(list1)   # before

['mango', 'banana', 'cherry', 'orange', 'kiwi', 'jackfruit', 'kiwi', 'melon']

In [18]:
list1.insert(2,"cake")

In [19]:
print(list1)   #Before

['mango', 'banana', 'cake', 'cherry', 'orange', 'kiwi', 'jackfruit', 'kiwi', 'melon']

In [20]:
#remove function - remove item

list1.remove('cake')

In [21]:
print(list1)  #After

['mango', 'banana', 'cherry', 'orange', 'kiwi', 'jackfruit', 'kiwi', 'melon']

In [5]:
# Pop()

In [6]:
list_3 = [1,2,3,4,5,6]
list_3.pop()

6

In [7]:
list_3

[1, 2, 3, 4, 5]

In [9]:
list_3.pop(0)

1

In [11]:
list_3

[2, 3, 4, 5]

In [13]:
# Count()

list1_ = [1,2,3,4,5,2,1,1,1,6,7,8]
list1_.count(2)

2

In [2]:
# Other Operation

In [14]:
list_ = [1,2,3,4]
sum(list_)

10

In [15]:
min(list_)

1

In [16]:
max(list_)

4

In [17]:
list_*2

[1, 2, 3, 4, 1, 2, 3, 4]

# Tuples

In [0]:

# Tuples

# Tuples are used to store multiple items in a single variable.
# Tuples are enclosed by ( )
# Tuples are Unchangeable(Immutable)
# Tuples used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

In [1]:
tuple1 =("apple","banana","cherry","apple",23,-4,23)
print(tuple1)

('apple', 'banana', 'cherry', 'apple', 23, -4, 23)

In [2]:
print(type(tuple1))

<class 'tuple'>

In [3]:
# wHich is Tuple and which is NOT

tup_ =('apple')
print(type(tup_))

<class 'str'>

In [4]:
tuple_ =("apple",)
print(type(tuple_))

<class 'tuple'>

In [5]:
# len()

print(len(tuple1))

7

In [7]:
tuple1

('apple', 'banana', 'cherry', 'apple', 23, -4, 23)

In [8]:
# acess

print(tuple1[0])

apple

In [25]:
# checking if tuple can change

tuple1[1]= 'app'
print(tuple1)  # it is immutable

TypeError: 'tuple' object does not support item assignment

In [10]:
# we change by converting it to list and then change

# How can we change from tuple to list ?

x =list(tuple1) # By using Type conversion
print(type(x))
# now we can change values
x[1]="app"

<class 'list'>

In [11]:
print(x)

['apple', 'app', 'cherry', 'apple', 23, -4, 23]

In [13]:
# unpacking a tuples

fruits =("apple","banana","cherry")
(green,yellow,red)=fruits

In [14]:
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [33]:
# Using Astrick

(green,*red)=fruits
print(red)

['banana', 'cherry']

In [15]:
# join tuples

tuple2=("a","b","c")
tuple3=(1,2,3)
tuple4=tuple2+tuple3

In [16]:
print(tuple4)

('a', 'b', 'c', 1, 2, 3)

In [17]:
myTup_=fruits*2

In [18]:
print(myTup_)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [20]:
# count()

tu1 = ("apple","cherry","mango")
tu2 = ("apple")

tu1.count(tu2)

1

# Dictionaries

####    Dictionaries is an collection of  key:value pairs

####  *A Dictionary is a collection which is ordered, changeable and does not allow duplicates.*

In [4]:
dic={}
print(type(dic))

<class 'dict'>

In [5]:
dict_var={"car":"4wheels","brand":"Tata","model":"nano","year":"2016"}

In [6]:
print(dict_var)

{'car': '4wheels', 'brand': 'Tata', 'model': 'nano', 'year': '2016'}

In [7]:
print(dict_var["brand"])

Tata

In [8]:
x= dict_var.get("brand")       # Returns the value of the specified key
print(x)

Tata

In [9]:
## ADD items

dict_var["color"]="blue"
print(dict_var)

{'car': '4wheels', 'brand': 'Tata', 'model': 'nano', 'year': '2016', 'color': 'blue'}

In [10]:
# keys() function
x= dict_var.keys()
print(x)

dict_keys(['car', 'brand', 'model', 'year', 'color'])

In [11]:
# Values() functions
y= dict_var.values()
print(y)

dict_values(['4wheels', 'Tata', 'nano', '2016', 'blue'])

In [12]:
#items
z=dict_var.items()
print(z)

dict_items([('car', '4wheels'), ('brand', 'Tata'), ('model', 'nano'), ('year', '2016'), ('color', 'blue')])

In [29]:
#update()  funtion                     - # update() method inserts the specified items to the dictionary
dict_var.update({"color": "red"})
print(dict_var)

{'car': '4wheels', 'brand': 'Tata', 'model': 'nano', 'year': '2016', 'color': 'red'}

In [30]:
## Copy() function

my_dict = dict_var.copy()

In [31]:
print(type(my_dict))

<class 'dict'>

In [32]:
dict_var

{'car': '4wheels',
 'brand': 'Tata',
 'model': 'nano',
 'year': '2016',
 'color': 'red'}

In [33]:
my_dict

{'car': '4wheels',
 'brand': 'Tata',
 'model': 'nano',
 'year': '2016',
 'color': 'red'}

In [34]:
# Condition Statement with dictionary

if "brand" in my_dict:
    print(my_dict["brand"])

Tata

In [35]:
# POP()

dict_var.pop("color")

'red'

In [36]:
dict_var

{'car': '4wheels', 'brand': 'Tata', 'model': 'nano', 'year': '2016'}

In [39]:
# popitem()

my_dict.popitem()

('year', '2016')

In [40]:
my_dict

{'car': '4wheels', 'brand': 'Tata', 'model': 'nano'}

In [41]:
# delete

del my_dict["model"]  # delete specific data

In [42]:
print(my_dict)

{'car': '4wheels', 'brand': 'Tata'}

In [43]:
del my_dict #delete all data

In [44]:
my_dict

NameError: name 'my_dict' is not defined

In [0]:
# Loop Dictionary

In [45]:
dict_var = {"brand":"fastrack","color":"black","model":"fit_watch","price":"1300"}

In [46]:
for x in dict_var:
    print(x)

brand
color
model
price

In [47]:
for x in dict_var.values():
    print(x)

fastrack
black
fit_watch
1300

In [48]:
for x in dict_var.keys():
    print(x)

brand
color
model
price

In [49]:
for x, y in dict_var.items():
    print(x, y)

brand fastrack
color black
model fit_watch
price 1300

In [0]:
# Nested dictionary

In [51]:
mydict_branch ={
    "CSE":{
        "Name":"Vishnu",
        "year":2022
    },
    "AIML":{
        "Name":"Saket",
        "year":2022
    }
}

In [53]:
mydict_branch

{'CSE': {'Name': 'Vishnu', 'year': 2022},
 'AIML': {'Name': 'Saket', 'year': 2022}}

In [31]:
print(mydict_branch["CSE"]["Name"])

Vishnu

In [0]:
# Assignment 

# write an code for getting an output of Student name who is Studing in AIML branch

In [0]:

# write an code for getting an output of Student year of Saket who's belong AIML branch

# Strings

### Strings it is an Text Data ,which is enclosed with single quotation or double quotation

In [90]:
String_var = "THIS IS TEXT DATA "
print(String_var)

THIS IS TEXT DATA

In [91]:
print(type(String_var))

<class 'str'>

In [0]:
# When to use single quotes and double quotes

# Single quotes - When we have single sentence
# Double quotes - when we have multiple sentences or Paragraph

In [92]:
# Slicing String

a = "Python"  # What if i need ython except p
print(a[1:])

ython

In [93]:
print(a[2:])  # what if i need thon as output

thon

In [94]:
print(a[:2])  # what if i need Py as output

Py

In [95]:
print(a[-2:])  # what if i need on as output

on

In [96]:
print(a[::-1])    # what if i need to reverse the data

nohtyP

In [97]:
## len() function

bca="BCA"
print(len(bca))

3

In [98]:
## Adding String()  #String Concatenation

vk="Vikram"
kv="Kumar"
con_str = vk+kv

print(con_str)

VikramKumar

In [99]:

vk="Vikram"
kv="Kumar"
con_str = vk+" "+kv

print(con_str)

Vikram Kumar

In [100]:
## Upper() function

str1 = "Batman"
print(str1.upper())

BATMAN

In [101]:
## lower() function

str2 = "Ironman"
print(str2.lower())

ironman

In [102]:
## Replace() function

str_var = "Tman"
print(str_var.replace('T','Bat'))

Batman

In [103]:
# Split() function  - split() method splits the string into substrings

str_var1= "Hello, World!"
print(str_var1.split(","))

['Hello', ' World!']

In [104]:
# Strip() function  # This function is used to remove the space

str_var2=" Hello Motu! "
print(str_var2.strip())

Hello Motu!

In [105]:
## Format() function

age = 36
My_details = "My name is John, and I am {}"
print(My_details.format(age))

My name is John, and I am 36

In [106]:
## Delcare the variables

my_sales = 1200
price = 200
my_order = " My sales are boosted up to {} and price is {} "
print(my_order.format(my_sales,price))

 My sales are boosted up to 1200 and price is 200

In [107]:
## Assing index for format


my_sales = 1200
my_profit = 13400
price = 200
my_order = " My sales are boosted up to {0} and my profit is {2}  hiked with the price of {1}  "
print(my_order.format(my_sales,price,my_profit))

 My sales are boosted up to 1200 and my profit is 13400  hiked with the price of 200

In [77]:
# Other Functions

In [111]:
a = "Krishna"
b = "tech132"

In [108]:
# isalpha() - Returns True if all characters in the string are in the alphabet

print(a.isalpha())

True

In [109]:
# isalnum() - Returns True if all characters in the string are alphanumeric


print(b.isalnum())

True

In [112]:
print(a.isalnum())

True

In [113]:
#isdigit() - Returns True if all characters in the string are digits

d = "22123"

print(d.isdigit())

True

In [114]:
#isdecimal() - Returns True if all characters in the string are decimals

f = "2345"
print(f.isdecimal())

True

In [115]:
# count() - Returns the number of times a specified value occurs in a string


g = "My name is John"

print(g.count('John'))

1

In [0]:
# More Focus on 

# 1.Functions 
# 2.OOPs
# 3.Generators
# 4.File handling
# 5.Exception Handling
# 6.List Comprehensions
# 7.Modules and Packages
# 8.Time Series
# 9.Datetime 

### Python Libraries
# 1.Numpy
# 2.Pandas
# 3.Matplotlib
# 4.Seaborn


## Machine Learning
## Sikit Learn