In [1]:
print("Hello world")

Hello world

In [22]:
a= 1124
print(a)

1124

In [26]:
aa=10++1
print(aa)

11

In [27]:
bb=1++10
print(aa)
print(bb)

11
11

In [43]:
apple = "hello World"
for letter in apple:
    i =letter
    print(letter)

    print(i)

h
h
e
e
l
l
l
l
o
o


W
W
o
o
r
r
l
l
d
d

In [ ]:
age = int(input("Enter Age"))
print("Not Eligible for Voting" if age <=18 else "eligible for voting")

ValueError: invalid literal for int() with base 10: ''

In [40]:

list = [] 
list.append(letter)

In [41]:
list

['d']

In [34]:
hdd = 'gsffjgjgs'
print(hdd)

gsffjgjgs

In [44]:
print(letter)

d

In [2]:
# variables

In [47]:
a=4
b=5
print(a-b) #sub
print(a+b) #Add
print(a*b) #Mult
print(a//b) # divide which doesnot get the decimal
print(a/b) #divide
print(a%b) #reminder

-1
9
20
0
0.8
4

In [50]:
''' hjjshgdhgdhsgf khd king's '''

" hjjshgdhgdhsgf khd king's "

In [45]:
# Variable are case sensitive 

abhi = 123
Abhi = 1234
print(abhi)
print(Abhi)

123
1234

#String format

In [4]:
first_name = "John"
second_name = "28"
print("Iam {} and iam {} years old". format(first_name, second_name))

Iam John and iam 28 years old

In [5]:
 x = "Jhon is playing"
x

'Jhon is playing'

In [6]:
y=float(34)
z=int(55.77)
m=str(565655)
print(y)
print(z)
print(m)

34.0
55
565655

In [7]:
print(type(m))

<class 'str'>

In [8]:
print(type(z))

<class 'int'>

In [9]:
print(type(y))

<class 'float'>

In [10]:
my_var='''He's father was a police  '''

In [11]:
my_var

"He's father was a police  "

In [12]:
my_variable='HE is good player'

In [13]:
my_variable

'HE is good player'

In [14]:
if 5>2:
    print("Five is greater than two!")

Five is greater than two!

In [15]:
if 7>=7:
    print("SEVEN")

SEVEN

In [16]:
if 9<24:
    print("TWO")

TWO

In [17]:
if 35<5:
    print("SCHOOL")
else:
    print("College")

College

In [18]:
x=y=z="GooGLE"
print(x)

GooGLE

In [19]:
x,y,z="orange","Banana","cherry"
print(x)
print(y)
print(z)

orange
Banana
cherry

In [20]:
print(len(x))

6

In [21]:
x="python"
y="is"
z="awesome"
print(x+" "+y+" "+z)

python is awesome

In [29]:
a=5
b=10
print(a+b)

15

In [35]:
def myfunc():
    x="fantastic"
    print("python is" +" "+ x)
myfunc()

python is fantastic

In [36]:
def my_love():
    l="I love you"
    print("I miss you,"+" "+l)

In [38]:
my_love()

I miss you, I love you

In [39]:
car="volvo"
car

'volvo'

In [40]:
# Data Types

In [41]:
#string

In [42]:
a = "I love you and I miss you"

In [43]:
a

'I love you and I miss you'

In [45]:
x = 5  # integers
print(x)
y = 5.77  # float
print(y)
z=8+7j  #complex
print(z)

5
5.77
(8+7j)

In [48]:
#list -" " enclosed by brackets

z=["orange","Cherry","Apple"]
print(z)
print(type(z))

['orange', 'Cherry', 'Apple']
<class 'list'>

In [49]:
k=list(("mango","mangoes","mangoess"))

In [50]:
k

['mango', 'mangoes', 'mangoess']

In [51]:
k=tuple(("john","google","faster"))
k

('john', 'google', 'faster')

In [52]:
k=set(("mission","magal","1234"))
k

{'1234', 'magal', 'mission'}

In [56]:
k=dict(teddy="45", oneplus="4446", realme="7777")
k

{'teddy': '45', 'oneplus': '4446', 'realme': '7777'}

In [58]:
y=bool(5)
x=bytes(5)
v=bytearray(5)

In [60]:
print(y)
print(x)
print(v)

True
b'\x00\x00\x00\x00\x00'
bytearray(b'\x00\x00\x00\x00\x00')

In [61]:
import random

In [66]:
print(random.randrange(1,15)) # random range

7

In [4]:
# Index 

a="hello world"
print(a[:5])

hello

In [5]:
print(a[5:])

 world

In [6]:
print(a[:8])

hello wo

In [8]:
print(a[-1])

d

In [11]:
print(a[:-5])

hello

In [12]:
g="tanmoy is in love "
print(g)

tanmoy is in love

In [13]:
print(len(g))

18

In [9]:
example="cotton has very Badmarket future"
if "Badmarket" not in example:
    print("it has good market")
    
else:
    print("it has bad market")

it has bad market

In [ ]:
exam ="The best things in life are free!"
if "free"

In [2]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [16]:
b = "hello world!"
print(b)

hello world!

In [1]:
a= "ranjith"
a

'ranjith'

In [7]:
print(a[-3:])

ith

In [8]:
p="dabar"
p

'dabar'

In [9]:
print(p[-2:])

ar

In [11]:
print(p[:3])

dab

In [12]:
print(p[-1:])

r

In [18]:
print(p.upper())

DABAR

In [19]:
print(p.lower())

dabar

In [25]:
m="Hello world"
m
print(m.replace("H","J"))

Jello world

In [26]:
print(m.split(","))

['Hello world']

In [27]:
v= "hello"
n="world"
print(v+n)

helloworld

In [28]:
print(v+" "+n)

hello world

In [29]:
g= v+" "+n
print(g)

hello world

In [30]:
print(g.replace("w","F"))

hello Forld

In [31]:
age = 36
txt ="My name is Jhon ,and Iam {}"
print(txt.format(age))

My name is Jhon ,and Iam 36

In [33]:
bag=444
bat=2000
ball=80
price="the bag price is {},bat price is {} and ball price {} "
print(price.format(bat,bag,ball))

the bag price is 2000,bat price is 444 and ball price 80

In [38]:
h = "iam in banglore\niam in chennai\niam in Tirupathi"

In [40]:
print(h)

iam in banglore
iam in chennai
iam in Tirupathi

In [41]:
j = "iam in dimbala\' in dimbala "

In [42]:
print(j)

iam in dimbala' in dimbala

In [43]:
h="iam in ronur \\ google"
print(h)

iam in ronur \ google

In [44]:
#octal value
#hex value

## octal - 8


0     000
1     001
2     010
3     011 
4     100
5     101
6     110
7     111

In [1]:
q =bool(222)

In [2]:
q

True

In [3]:
w=bool("false")

In [4]:
w

True

In [7]:
a=33.44
a

33.44

In [8]:
print(type(a))

<class 'float'>

In [9]:
r=bool(a)

In [10]:
print(type(r))

<class 'bool'>

In [20]:
def my_functii():
    2<222;
    print("he is good")

In [21]:
my_functii()

he is good

In [22]:
b=99
g=100

if b > a:
    print("A is greaterthan B ")

else:
    print("A is lesserthan B")

A is greaterthan B

In [28]:
class my_class():
    def __len__(self):
        return 10
        
t = my_class()
print(bool(t))

True

In [29]:
class MY_Class():
    def __len__(self):
        return 0
p = MY_Class()
print(bool(p))

False

In [31]:
x = 22
x+=2

print(x)

24

In [32]:
x-=55
print(x)

-31

In [33]:
x<<=4

In [34]:
print(x)

-496

# and :-   Returns True if both statements are true	x < 5 and  x < 10	
or	:-     Returns True if one of the statements is true	x < 5 or x < 4	
not	 :-    Reverse the result, returns False if the result is true

In [35]:
 g = list(("single","married","unmarried"))

In [36]:
print(g)

['single', 'married', 'unmarried']

In [37]:
f=["11","22","33","44","55"]

In [38]:
print(f)

['11', '22', '33', '44', '55']

In [39]:
print(len(f))

5

In [40]:
print(type(f))

<class 'list'>

In [41]:
My_var = ["apple",23,True,"and"]

In [43]:
My_var

['apple', 23, True, 'and']

In [45]:
print(type(My_var))

<class 'list'>

In [52]:
print(My_var[1:4])

[23, True, 'and']

In [54]:
print(My_var[2:4])

[True, 'and']

In [56]:
print(My_var[-2:])

[True, 'and']

In [57]:
My_var[3]="Lovers"
print(My_var)

['apple', 23, True, 'Lovers']

In [58]:
My_var.insert(4,"couple")   # insert means giving the value where it should be added

In [59]:
My_var

['apple', 23, True, 'Lovers', 'couple']

In [60]:
MY_var = ["DON","Mass","Marri"]

In [61]:
MY_var

['DON', 'Mass', 'Marri']

In [64]:
My_var.append("Krack") # append meand add

In [63]:
My_var

['apple', 23, True, 'Lovers', 'couple', 'Krack']

In [65]:
My_var.extend(MY_var)

In [66]:
print(My_var)

['apple', 23, True, 'Lovers', 'couple', 'Krack', 'Krack', 'DON', 'Mass', 'Marri']

In [71]:
print(My_var)

['apple', 23, 'Lovers', 'couple', 'Krack', 'Krack', 'DON', 'Mass', 'Marri']

In [72]:
My_var.remove(23)

In [73]:
print(My_var)

['apple', 'Lovers', 'couple', 'Krack', 'Krack', 'DON', 'Mass', 'Marri']

In [78]:
#  del :- delete
#  pop :- only show the random value and other will be invisible

In [75]:
My_var.pop(2)

'couple'

In [77]:
My_var.pop()

'Mass'

In [79]:
# for is show character prallel ;;;  
# no bracket in function

In [80]:
My_var

['apple', 'Lovers', 'Krack', 'Krack', 'DON']

In [82]:
for x in My_var:
    print(x)

apple
Lovers
Krack
Krack
DON

In [84]:
thislist = ["apple","banana","cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [85]:
i = 0
while i < len(thislist):
    print(thislist[i])
    i=i+1

apple
banana
cherry

In [1]:
mylist = ["apple","banana","cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [2]:
print(len(mylist))

3

In [3]:
list1 = ["apple","banana","cherry"]
list2 = [1,2,3,4,5,6]
list3 = [True,False,False]

In [5]:
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 2, 3, 4, 5, 6]
[True, False, False]

In [6]:
print(type(list1))

<class 'list'>

In [7]:
print(list1[1])

banana

In [10]:
print(list1[2])

cherry

In [12]:
print(list1[0])

apple

In [13]:
print(list1[-2:-1])

['banana']

In [16]:
list2[4]=7
print(list2)

[1, 2, 3, 4, 7, 6]

In [17]:
list2.insert(1,"Watermelon")
print(list2)

[1, 'Watermelon', 2, 3, 4, 7, 6]

In [18]:
list2.append("bus")
print(list2)

[1, 'Watermelon', 2, 3, 4, 7, 6, 'bus']

In [19]:
list2.remove("Watermelon")
print(list2)

[1, 2, 3, 4, 7, 6, 'bus']

In [20]:
list2.remove("bus")
print(list2)

[1, 2, 3, 4, 7, 6]

In [21]:
del list2[4]
print(list2)

[1, 2, 3, 4, 6]

In [22]:
list2.clear()
print(list2)

[]

In [1]:
list7=["apple","ban","pan","Goal"]
print(list7)

['apple', 'ban', 'pan', 'Goal']

In [3]:
list7.append("gun")

In [4]:
print(list7)

['apple', 'ban', 'pan', 'Goal', 'gun', 'gun']

In [5]:
list7.insert(2,"pan masala")

In [6]:
list7

['apple', 'ban', 'pan masala', 'pan', 'Goal', 'gun', 'gun']

In [7]:
list7.remove("pan")

In [8]:
print(list7)

['apple', 'ban', 'pan masala', 'Goal', 'gun', 'gun']

In [22]:
g1 = list(("Fan","ban","horse","gun"))

In [23]:
print(type(g1))

<class 'list'>

In [24]:
g1

['Fan', 'ban', 'horse', 'gun']

In [25]:
g1
for x in g1:
    print(x)

Fan
ban
horse
gun

In [26]:
print(len(g1))

4

In [28]:
g1.remove("horse")

In [29]:
g1

['Fan', 'ban', 'gun']

In [30]:
g1
for x in g1:
    if "a" in x:
        print("I love you")

I love you
I love you

In [31]:
fruits= ["key","tab","shift"]

In [35]:
newlist =[x for x in fruits if "t" in x]
print(newlist)

['tab', 'shift']

In [37]:
# sort - alphabetical
fruits.sort()
print(fruits)

['key', 'shift', 'tab']

In [45]:
al=(("alpha",True,False,45))

In [46]:
al

('alpha', True, False, 45)

In [47]:
print(type(al))

<class 'tuple'>

In [48]:
print(len(al))

4

In [50]:
x=("apple","banana","cherry")
y=list(x)
y[2]="kiwi"
x =tuple(y)

In [51]:
print(x)

('apple', 'banana', 'kiwi')

In [54]:
x

('apple', 'banana', 'kiwi')

In [55]:
y=list(x)
y.append("cherry")
x=tuple(y)

In [56]:
print(x)

('apple', 'banana', 'kiwi', 'cherry')

In [57]:
print(type(x))

<class 'tuple'>

In [61]:
fruitss=("apple","mango","cashewnut","grapes")

(*flower,lily,red)=fruitss

print(flower)
print(lily)
print(red)

['apple', 'mango']
cashewnut
grapes

In [62]:
thistuple=("1","2","3","4","5")
for x in thistuple:
    print(x)

1
2
3
4
5

In [63]:
thistuple
for i in range(len(thistuple)):
    print(thistuple[i])

1
2
3
4
5

In [64]:
# set

In [1]:
set1 = {"apple","bannana","cherry"}
print(type(set1))

<class 'set'>

In [3]:
print(len(set1))

3

In [2]:
x=list(set1)

In [10]:
print(x)

['apple', 'cherry', 'bannana', 'Mango']

In [11]:
print(type(x))

<class 'list'>

In [12]:
y=set(x)

In [13]:
print(type(y))

<class 'set'>

In [14]:
y
for x in y:
    print(y)

{'apple', 'Mango', 'cherry', 'bannana'}
{'apple', 'Mango', 'cherry', 'bannana'}
{'apple', 'Mango', 'cherry', 'bannana'}
{'apple', 'Mango', 'cherry', 'bannana'}

In [18]:
y

if "Mano" in y:
    print(y)

else:
    print("in valid")

in valid

In [19]:
y.add("loops")

In [20]:
y

{'Mango', 'apple', 'bannana', 'cherry', 'loops'}

In [21]:
x=["1","3","7"]

In [22]:
y.update(x)
print(y)

{'apple', 'bannana', '1', 'loops', 'Mango', '3', '7', 'cherry'}

In [23]:
y.remove("1")

In [24]:
y

{'3', '7', 'Mango', 'apple', 'bannana', 'cherry', 'loops'}

In [25]:
y.pop()

'apple'

In [26]:
y

{'3', '7', 'Mango', 'bannana', 'cherry', 'loops'}

In [27]:
y.discard("3")

In [28]:
y

{'7', 'Mango', 'bannana', 'cherry', 'loops'}

In [29]:
u={'sam','jam','good'}

In [30]:
for x in u:
    print(x)

jam
good
sam

In [32]:
set1={'2','2','3','4'}
set2={"56",'666','66','66'}
set3=set1.union(set2)

In [33]:
set3

{'2', '3', '4', '56', '66', '666'}

In [2]:
#dict
thisdic = {
    "brand":"ford",
    "model":"Mustang",
    "year" : 1999}

print(thisdic)

{'brand': 'ford', 'model': 'Mustang', 'year': 1999}

In [3]:
print(thisdic["brand"])

ford

In [6]:
x = thisdic.keys()

In [7]:
x

dict_keys(['brand', 'model', 'year'])

In [8]:
y=thisdic.values()

In [9]:
y

dict_values(['ford', 'Mustang', 1999])

In [10]:
thisdic["model"]="Vishnu"

In [11]:
print(thisdic)

{'brand': 'ford', 'model': 'Vishnu', 'year': 1999}

In [12]:
h=thisdic.items()

In [13]:
h

dict_items([('brand', 'ford'), ('model', 'Vishnu'), ('year', 1999)])

In [14]:
thisdic.update({"colour":"blue"})

In [15]:
thisdic

{'brand': 'ford', 'model': 'Vishnu', 'year': 1999, 'colour': 'blue'}

In [16]:
thisdic.update({"year":2020})

In [17]:
thisdic

{'brand': 'ford', 'model': 'Vishnu', 'year': 2020, 'colour': 'blue'}

In [18]:
thisdic.pop("model")

'Vishnu'

In [19]:
thisdic

{'brand': 'ford', 'year': 2020, 'colour': 'blue'}

In [22]:
thisdic.clear()

In [23]:
thisdic

{}

In [32]:
man={"good","bad","man"}

man={"good","bad","man"}
for x in man:
    print(man[x])

man={"good","bad","man"}
for x in man.values():
    print(x)

man={"good","bad","man"}
for x, y in man.items():
    print(x,y)

In [1]:
car = {"apple","banana","dad"}

In [2]:
car.add("apples")

In [3]:
car

{'apple', 'apples', 'banana', 'dad'}

In [4]:
print(type(car))

<class 'set'>

In [7]:
car.remove("apples")

In [8]:
car

{'apple', 'banana', 'dad'}

In [9]:
#DIC

In [10]:
thisdict = {
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [11]:
print(thisdict["brand"])

Ford

In [12]:
print(len(thisdict))

3

In [13]:
thisdict
x=thisdict["model"]
print(x)

Mustang

In [14]:
thisdict
x=thisdict.get("model")
print(x)

Mustang

In [15]:
x=thisdict.keys()

In [16]:
print(x)

dict_keys(['brand', 'model', 'year'])

In [17]:
x=thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [18]:
x=thisdict.items()

In [19]:
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [20]:
car = {
    "brand":"Ford",
    "model":"Mustang",
    "year":1946
}
x=car.items()

In [21]:
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1946)])

In [22]:
car["year"]=2020

In [23]:
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [25]:
car.update({"month":7})

In [26]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'month': 7}

In [28]:
del car["month"]

In [29]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [30]:
car.popitem()

('year', 2020)

In [31]:
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [32]:
car.clear()

In [33]:
print(car)

{}

In [34]:
thisdict={"brand":"Ford","model":"Musstang","year":1964,"month":6}

In [35]:
for x in thisdict:
    print(x)

brand
model
year
month

In [36]:
for x in thisdict:
    print(thisdict[x])

Ford
Musstang
1964
6

In [37]:
for x in thisdict.values():
    print(x)

Ford
Musstang
1964
6

In [38]:
for x in thisdict.keys():
    print(x)

brand
model
year
month

In [39]:
for x, y in thisdict.items():
    print(x, y)

brand Ford
model Musstang
year 1964
month 6

In [40]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [41]:
thisdict ={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [42]:
myfamily = {
    "child1":{
        "name":"Emil",
        "year":2004
    },
    "child2":{
        "name":"tobias",
        "year":2007
    },
    "child3":{
        "name":"Linus",
        "year":2022
    }
}

In [43]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2022}}

In [3]:
my_family = {
    "childs":{
        "name":"sham",
        "DOB":27//8//2001,
        "Father name ":"barath"
    },
    "childss":{
        "name":"raju",
        "DOB":14//3//2000,
        "Father name":"anil"
    },
    "childsss":{
        "name":"Babubhaya",
        "DOB":15//8//2001,
        "Father name":"kumar apthe"
    }
}

In [4]:
my_family

{'childs': {'name': 'sham', 'DOB': 0, 'Father name ': 'barath'},
 'childss': {'name': 'raju', 'DOB': 0, 'Father name': 'anil'},
 'childsss': {'name': 'Babubhaya', 'DOB': 0, 'Father name': 'kumar apthe'}}

In [5]:
del my_family

In [7]:
a=55
b=20
if b>a:
    print("B is greater than A")

In [10]:
if a>b:
    print("A is greater than B")
elif a<b:
    print("in valid")

A is greater than B

In [15]:
a = 3
b = 3
if b>a:
    print("b is greater than a")
elif b==a:
    print("b is equal to a")

b is equal to a

In [18]:
b1 = 2
b2 = 2
if b1>b2:
    print("it is greater")
else:
    print("invalid")

invalid

In [22]:
v1 = 200
v2 = 300
v3 = 10
if v1>v2:
    print(" it is greater")
elif v2>v1 and v2>v3:
    print("it's invalid ")

it's invalid

In [23]:
if v1>v2 or v3<v2:
    print("It's working")

It's working

In [26]:
 if a>b:
        pass

In [27]:
i = 1
while i<6:
    print(i)
    i += 1

1
2
3
4
5

In [31]:
i = 1
while i<11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [36]:
i = 0
while i<6:
    i +=1
    if i == 4:                    # disappers
        continue
    print(i)

1
2
3
5
6

In [42]:
i ==0
while i<6:
    i+=1
    if i == 4:
        continue
    print(i)

In [46]:
fruitss = ["apple","cherry","mango"]
for x in fruitss:
    print(x)

apple
cherry
mango

In [50]:
for x in fruitss:
    print(x)
    if x == "apple":
        break

apple

In [51]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [58]:
for x  in range(0,20,5):
    print(x)

0
5
10
15

In [60]:
for x in range(6):
    if x == 4:
        break
    print(x)

0
1
2
3

In [61]:
for x in [0, 1, 2]:
    pass

In [2]:
x = lambda a : a+10
print(x(5))

15

In [1]:
cars = ["BMW","Volo","Ford"]
cars.append("kia")
print(cars)

['BMW', 'Volo', 'Ford', 'kia']

In [2]:
cars.pop(1)
print(cars)

['BMW', 'Ford', 'kia']

In [3]:
cars.remove("Ford")

In [4]:
cars

['BMW', 'kia']

In [6]:
class MyClass:
    x =5
print(MyClass)

<class '__main__.MyClass'>

In [7]:
class MyClass:
    x =5
p1=MyClass()
print(p1.x)

5

In [8]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
p1= Person("john",34)

print(p1.name)
print(p1.age)

john
34

In [12]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    def My_func(self):
            print("Hello my name is "+ self.name)
p1=Person("john",34)
p1.My_func()

Hello my name is john

In [21]:
class Cars:
    def __init__(self,name,model):
        self.name = name
        self.model = model
    def my_Func(self):
        print("I love this car,"+ self.name)

p1=Cars("BMW","VF87")
p1.my_Func()

I love this car,BMW

In [34]:
class Human:
    def __init__(self,name,age):
        self.name =name
        self.age =age
    
    def My_fUn(self):
        print("MY age is ," + self.name)

p2 = Human("john",34)
p2.My_fUn()
print(p2.age)

MY age is ,john
34

In [36]:
class Human:
    def __init__(self,name,age):
        self.name =name
        self.age =age
    
    def My_fUn(self):
        print("MY age is ," + self.name)

p2 = Human("john",34)

del p2.age
print(p2.age)

AttributeError: 'Human' object has no attribute 'age'

In [38]:
class Model:
    def __init__(self,year,month):
        self.year = year
        self.month = month
    def var(self):
        print(self.year,self.month)
x= Model("VST","KJH")
x.var()

VST KJH

In [39]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  pass

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [40]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [42]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
    print(x)

apple
banana
cherry

In [48]:
class MyNumbers:
def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
        x = self.a
        self.a += 1
        return x
    else:
        raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
    print(x)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [49]:
def myfunc():
    x = 300
    print(x)

myfunc()

300

In [1]:
car1="apple","mango","sand"
car2="sandal","bolly","Tolly"
Car3='gang',"bang","pan"

In [2]:
print(car1)

('apple', 'mango', 'sand')

In [3]:
print(type(car1))

<class 'tuple'>

In [5]:
# Array

# it is a collection of all element
# it a special type of variable ,where we can store one or more variable at same time

In [7]:
x= car1

In [8]:
print(car1[1])

mango

In [10]:
x = len(car1)

In [11]:
print(x)

3

In [13]:
for x in car1:
    print(x)

apple
mango
sand

In [14]:
for x in car2:
    print(x)

sandal
bolly
Tolly

In [20]:
x =list(car1)

In [21]:
x

['apple', 'mango', 'sand']

In [22]:
car1

('apple', 'mango', 'sand')

In [25]:
x.append("honda")

In [26]:
x

['apple', 'mango', 'sand', 'honda']

In [28]:
x.pop(1)

'mango'

In [29]:
x.remove("honda")

In [30]:
x

['apple', 'sand']

In [31]:
class MyClass:
    x = 5

In [33]:
print(MyClass)

<class '__main__.MyClass'>

In [34]:
p1 = MyClass()
print(p1.x)

5

In [35]:
class My_Class:
    x=5

In [36]:
p1 = My_Class()
print(p1.x)

5

In [40]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
p1 = Person("john",36)

print(p1.name)
print(p1.age)

john
36

In [41]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1 = Person("Games",45)

print(p1.name)
print(p1.age)

Games
45

In [42]:
class Person:
    def __init__(self,firstname,lastname):
        self.firstname=firstname
        self.lastname=lastname
        
    def printname(self):
        print(self.firstname,self.lastname)

In [43]:
x = Person("john","Doe")
x.printname()

john Doe

In [47]:
class Person:
    def __init__(self,fname,lname):
        self.firstname=fname
        self.lastname=lname
        
    def printname(self):
            print(self.fristname,self.lastname)
class student(Person):
    def __init__(self,fname,lname,year):
        super().__init__(fname,lname)
        self.graduationyear = year

    def welcome(self):
         print("welcome",self.firstname,self.lastname,"to the class of ",self.graduationyear)
    
x = student("Mike","Olsen",2019)
x.welcome()

welcome Mike Olsen to the class of  2019

In [53]:
def myfunc():                                     # FUncion in function
    x=300
    def myinnerfunc():
        print(x)
    myinnerfunc()
myfunc()

300

In [51]:
x = 400        #global scope 

def myfunc():
    print(x)
    
myfunc()

print(x)

400
400

In [52]:
x = 900          # naming variable
def myfunc():
    x =200
    print(x)
myfunc()
print(x)

200
900

In [54]:
def myfunc():     # global key
    global x 
    x=300
    
myfunc()
print(x)

300

In [55]:
# Math

# BUILT in

#min
#max
#abs
#pow
#sqrt

In [56]:
import math

In [57]:
x =45
y =48

x+y

93

In [58]:
x =min(5,10,25)
y =max(5,10,25)

In [59]:
x

5

In [60]:
y

25

In [61]:
x=abs(-6.55)

In [62]:
x

6.55

In [65]:
x = pow(4,8)

In [66]:
x

65536

In [69]:
4*4*4*4*4*4*4*4

65536

In [70]:
x = math.sqrt(64)
print(x)

8.0

In [71]:
y = math.pi
print(x)

8.0

In [72]:
import json

In [73]:
x = '{"name":"jhon","age":45,"city":"newyork"}'

In [74]:
y= json.loads(x)

In [75]:
print(y["age"])

45

In [77]:
# python object can convert in to a json string by using 
   # json.dumps()

In [79]:
print(json.dumps({"name":"john","age":50}))

{"name": "john", "age": 50}

In [80]:
print(type(json.dumps))

<class 'function'>

# python to Json 


Python   -  JSON

dict   -   Object
list   -   Array
tuple  -   Array
str    -   string
int    -   Number
float  -   Number
True   -   true
False  -   false
None   =   null

In [82]:
# Python string formatting

In [83]:
price =49
txt="The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

In [84]:
quantity = 5
itemno =567
price = 49
myorder = "i want {} pieces of item number  {} for {:.2f} dollars."
print(myorder.format(quantity,itemno,price))

i want 5 pieces of item number  567 for 49.00 dollars.

In [1]:
f = open("myfile.txt","x")

In [2]:
f = open("IAM VERY GOOD BOY ", "w")

In [4]:
f=open("myfile.txt","r")

In [5]:
print(f.read())

In [6]:
print(f.readline())

In [7]:
f = open("myyfile.txt","x")

In [8]:
f.write("iam a good boy")

14

In [9]:
f.close()

In [10]:
f=open("myyfile.txt","r")
f.read()

'iam a good boy'

In [12]:
f.close()

In [13]:
f = open("myyfile.txt","a")

In [14]:
f.write("But, Iam an Bad boy also")

24

In [15]:
f.close()

In [16]:
f = open("myyfile.txt","r")

In [17]:
f.read()

'iam a good boyBut, Iam an Bad boy also'

In [18]:
import os

In [19]:
os.remove("myfile.txt")

In [ ]:
s