In [1]:
import pandas as pd

In [4]:
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

In [5]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

### code to print the data present in the second row

In [13]:
df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [15]:
# What is the difference between the functions loc and iloc in pandas.DataFrame?

# Use loc when you know the specific labels of the rows and columns you want to access. 
# Use iloc when you want to select data based on its position in the DataFrame, regardless of the labels.

### Reindex = [3,0,1,2] , find the output for both new_df.loc[2] and new_df.iloc[2].

In [19]:
import pandas as pd

# Given DataFrame (assuming you meant a DataFrame like this)
data = {'col1': [10, 20, 30, 40],
        'col2': [100, 200, 300, 400]}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
   col1  col2
0    10   100
1    20   200
2    30   300
3    40   400

In [21]:
# Reindexing variable
reindex_list = [3, 0, 1, 2]
new_df = df.reindex(reindex_list)

In [23]:
new_df.loc[2]

col1     30
col2    300
Name: 2, dtype: int64

In [24]:
new_df.iloc[2]

col1     20
col2    200
Name: 1, dtype: int64

#### Mean of each column  and Standard Deviation of column_2

In [26]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [30]:
df1.mean()

column_1    0.544667
column_2    0.487910
column_3    0.482903
column_4    0.452133
column_5    0.449635
column_6    0.676716
dtype: float64

In [35]:
df1["column_2"].std()

0.2569394578664882

#### Replace the data present in the second row of column, ‘column_2’ with mean of "column_2"

In [49]:
df1["column_2"].loc[2] = df1["column_2"].mean()

In [48]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.004672  0.522555  0.025431  0.368891  0.945505  0.756178
2  0.843989  0.487910  0.274337  0.361264  0.723940  0.321056
3  0.949941  0.853194  0.992127  0.582920  0.371854  0.131983
4  0.718832  0.692259  0.691376  0.594596  0.553083  0.980859
5  0.601151  0.431622  0.595146  0.608075  0.053509  0.894401
6  0.149418  0.227764  0.319001  0.197054  0.049917  0.975821

In [50]:
# What is windows function in pandas?

##### Window function operates on a window of rows related to current row I will give an idea
###  I will give an idea

#### """" Think of a window function like a special key of calculation that works on set of rows instead of Justice giving you one result for the whole set it gives you a result for each row in the set""""

| Feature         | **Pandas (Python)**                                                                                                             | **SQL**                                                                                        | **Excel**                                                                    |
| --------------- | ------------------------------------------------------------------------------------------------------------------------------- | ---------------------------------------------------------------------------------------------- | ---------------------------------------------------------------------------- |
| **What is it?** | A method using `.rolling()`, `.expanding()`, or `.groupby().transform()` to apply calculations over a sliding or grouped window | A clause (`OVER()`) that performs calculations across a set of rows related to the current row | Functions like `AVERAGE`, `SUM`, `RANK` used over dynamic or relative ranges |
| **Why used?**   | To compute moving stats, ranks, or cumulative values                                                                            | To get ranks, running totals, moving averages without collapsing rows                          | To analyze dynamic trends in a dataset using formulas                        |

In [51]:
import pandas as pd

df = pd.DataFrame({'Name': ['A', 'B', 'C', 'D'], 'Score': [80, 70, 90, 60]})
df['Rolling_Avg'] = df['Score'].rolling(window=2).mean()
print(df)
# window = 2 means two Scores taken and applied mean by rolling one by one

  Name  Score  Rolling_Avg
0    A     80          NaN
1    B     70         75.0
2    C     90         80.0
3    D     60         75.0

In [57]:
df["Rolling_Avg"]
# 0 = Nan beacuse no preceding row
# 1 =  window is 2 so (80,70) and mean (80+70)/2
# 2 = window is 2 so (70,90) and mean ( 70+90)/2
# 3 = window is 2 so (90,60) and mean (90+60)/2

0     NaN
1    75.0
2    80.0
3    75.0
Name: Rolling_Avg, dtype: float64

In [61]:
df['Expending'] = df['Score'].expanding().mean()

In [59]:
df

  Name  Score  Rolling_Avg  Expending
0    A     80          NaN       80.0
1    B     70         75.0       75.0
2    C     90         80.0       80.0
3    D     60         75.0       75.0

In [62]:
df["Expending"]
# Row 0 = window includes only the first value [80]. mean 80 / 1 = 80
# Row 1 = window includes the first two values [80, 70]. mean is (80 + 70) / 2 = 75 
# Row 2 = window includes the first three values [80, 70, 90]. mean (80 + 70 + 90) / 3 
# Row 3 = window includes all four values [80, 70, 90, 60]. mean (80 + 70 + 90 + 60) / 4

0    80.0
1    75.0
2    80.0
3    75.0
Name: Expending, dtype: float64

In [44]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.004672  0.522555  0.025431  0.368891  0.945505  0.756178
2  0.843989  0.200066  0.274337  0.361264  0.723940  0.321056
3  0.949941  0.853194  0.992127  0.582920  0.371854  0.131983
4  0.718832  0.692259  0.691376  0.594596  0.553083  0.980859
5  0.601151  0.431622  0.595146  0.608075  0.053509  0.894401
6  0.149418  0.227764  0.319001  0.197054  0.049917  0.975821

# Types of Window Functions in Pandas:

#### Based on how the window is defined and the operations performed, we can categorize pandas window functions as follows:

# Rolling Window Functions (.rolling()):

##### These operate on a fixed-size window that slides through the data.
####   Common operations include:
##### Aggregation Functions: .sum(), .mean(), .median(), .min(), .max(), .std(), .var(), .count().
##### Other Functions: .corr(), .cov(), .skew(), .kurt().
##### Custom Functions: .apply(func).
##### The window size is typically specified by the window parameter (number of rows) or an offset for time series.

# Expanding Window Functions (.expanding()):

##### These windows start at the beginning of the Series/DataFrame and expand to include the current row.
##### Common operations are similar to rolling windows: .sum(), .mean(), .median(), .min(), .max(), .std(), .var(), .count(), and .apply(func).
# Exponentially Weighted Window Functions (.ewm()):

##### These assign exponentially decreasing weights to observations as they get older. This means more recent observations have a higher influence on the result.
##### Parameters like alpha, com, span, and halflife control the rate of weight decay.
##### Common operations include .mean(), .std(), .var().
# GroupBy with Rolling/Expanding:

##### While groupby() itself isn't a window function, it's often used in conjunction with .rolling() or .expanding() to perform window calculations within each group of a DataFrame. This allows for analyzing trends or performing comparisons that are specific to certain categories.
# Other Window-Like Operations (Less Explicitly "Window Functions" but Related):

##### shift(): Shifts the index by a desired number of periods, which can be useful for comparing current values to past or future values.
##### diff(): Calculates the difference between consecutive elements.
##### rank(): Assigns ranks to the values within a Series.